[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/bundle/vim-resize"]
	path = vim/bundle/vim-resize
	url = https://github.com/breuckelen/vim-resize
[submodule "vim/bundle/vim-tmux-navigator"]
	path = vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "zsh/plugins/oh-my-zsh"]
	path = zsh/plugins/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "vim/bundle/vim-javascript-syntax"]
	path = vim/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax
[submodule "vim/bundle/emmet-vim"]
	path = vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/bundle/valgrind-suppression-syntax"]
	path = vim/bundle/valgrind-suppression-syntax
	url = https://github.com/vim-scripts/supp.vim.git
[submodule "vim/bundle/tmux-syntax"]
	path = vim/bundle/tmux-syntax
	url = https://github.com/Keithbsmiley/tmux.vim
[submodule "vim/bundle/pgsql-vim"]
	path = vim/bundle/pgsql-vim
	url = https://github.com/exu/pgsql.vim
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/nginx-vim-syntax"]
	path = vim/bundle/nginx-vim-syntax
	url = https://github.com/evanmiller/nginx-vim-syntax
[submodule "vim/bundle/vim-processing"]
	path = vim/bundle/vim-processing
	url = https://github.com/sophacles/vim-processing
