snippet im
import qualified $1`!p
module_path = t[1]
if "." in module_path:
	snip.rv = " as " + module_path.split(".")[-1]`
endsnippet

snippet main
main :: IO ()
main = do
	$0
endsnippet

snippet let
let $1 in $2
endsnippet

snippet fun
$1 :: $2
$1 $3${3/(.+)/ /}= $4
endsnippet

snippet data
data $1 = $1 $2
endsnippet

snippet inst
instance $1 where
	$2
endsnippet

snippet \ "" i
\ $1 -> $2
endsnippet

snippet if
if $1 then $2 else $3
endsnippet
