snippet if "" b
if($1){
	$2
}
endsnippet

snippet for "" b
for(var $1 = 0; $1 < $2; $1++){
	$3
}
endsnippet

snippet while "" b
while($1){
	$2
}
endsnippet

snippet fun
function $1($2){
	$3
}
endsnippet

snippet log "" b
console.log($1);
endsnippet
