snippet sel
select
	$1
from
	$2;
endsnippet

snippet alt
alter table
	$1
$2;
endsnippet

snippet upd
update
	$1
set
	$2;
endsnippet

snippet ord
order by
	$1
endsnippet

snippet whe
where
	$1
endsnippet
