snippet if
if $1
	$2
endif
endsnippet

snippet for
for $1 in $2
	$3
endfor
endsnippet

snippet while
while $1
	$2
endwhile
endsnippet

snippet func
func! $1($2)
	$3
endfunc
endsnippet

snippet aug
aug $1
	au!
	au $2
aug END
endsnippet

snippet redir
redir => $1
$2
redir END
endsnippet
