snippet if
if [ $1 ]; then
	$2
fi
endsnippet

snippet while
while $1; do
	$2
done
endsnippet

snippet for
for $1 in $2; do
	$3
done
endsnippet

snippet doc
# Description:
#   $1
#
# Use:
#   $2
endsnippet
