snippet if
	if(${1}){
		${2};
	}
snippet for
	for(${1:} = ${2:0}; $1 < ${3}; $1++){
		${0};
	}
snippet while
	while(${1}){
		${0};
	}
snippet typstr
	typedef struct {
		${2};
	} ${1};
snippet typd
	typedef ${1};
snippet str
	struct ${1}{
		${2};
	};
snippet pri
	printf("${1}", ${2});
snippet put
	puts("${1}");
snippet #i<
	#include <${1}.h>
snippet #i
	#include "${1}.h"
snippet #d
	#define ${1}
snippet main
	int main(){
		${0};
		return EXIT_SUCCESS;
	}
